* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;

  height: 100%;
  background-color: #111;
}
.gallery-container {
  margin: 3.1rem auto;
}
.gallery-container ul {
  display: table;
  margin: auto;
  list-style: none;
}
.gallery-container ul li {
  float: left;
}
.gallery-container ul:not(:first-child) {
  margin-top: -4.4rem;
}
.gallery-container ul li .bg-image {
  position: relative;
  margin: 26px 12px;
  width: 16.45vw;
  height: 19.02vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%,  0% 25%);
}

.bg-image:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(38, 144, 143, 0.74);
  z-index: 2;
  opacity: 0;
  transition: 0.8s;
}
.bg-image:hover:before {
  opacity: 1;
}
.bg-image:hover {
  scale: 1.15;
}
.info {
  position: absolute;
  text-align: center;
  color: white;
  opacity: 0;
  transform: translateY(10px);
  transition: 1s;
  z-index: 99;
}
.info h1 {
  font-size: 1.42vw;
  font-weight: 700;
  font-family: "Playfair Display", sans-serif;
}
.info h2 {
  font-size: 1.14vw;
  font-weight: 700;
  font-family: "Playfair Display", sans-serif;
}
.info p {
  text-align: inherit;
  font-size: 0.7vw;
  margin-top: 14px;
  font-family: "Libre Baskerville", sans-serif;
}
.bg-image:hover .info {
  transform: translateY(0px);
  opacity: 1;
  position: absolute;
  color: #fff;
}
.icons {
  justify-content: center;
  display: flex;
  margin: 10px;
  /* gap: 25px; */
}
.icons li {
  margin-left: 15px;
}
.icons li:hover {
  color: blue;
}

@media (max-width: 900px) {
  .gallery-container ul {
    display: flex;
    flex-direction: column;
  }
  .gallery-container ul:not(:first-child) {
    margin: 0;
  }
  .gallery-container ul li .bg-image {
    width: 23.45rem;
    height: 26.02rem;
  }
  .info h1 {
    font-size: 30px;
  }
  .info h2 {
    font-size: 24px;
  }
  .info p {
    font-size: 17px;
  }
}
@media (max-width: 620px) {
  .gallery-container ul li .bg-image {
    width: 16.15rem;
    height: 17.02rem;
  }
  .info h1 {
    font-size: 20px;
  }
  .info h2 {
    font-size: 16px;
  }
  .info p {
    font-size: 11px;
  }
}
@media (max-width: 350px) {
  .gallery-container ul li .bg-image {
    width: 14.15rem;
    height: 16.02rem;
  }
  .info h1 {
    font-size: 18px;
  }
  .info h2 {
    font-size: 14px;
  }
  .info p {
    font-size: 9px;
  }
}
